* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  overflow-x: hidden; 
}
/* Navbar */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Pacifico&display=swap');

nav {
  display: flex;
  background-color: rgb(67, 111, 2);
  justify-content: space-around;
  height: 50px;
  align-items: center;
  color: rgb(196, 214, 169);
}
nav .logo {
  font-family:'Pacifico', cursive;
  letter-spacing: 2px;
}
nav ul {
  display: flex;
  list-style: none;
  width: 40%;
  justify-content: space-between;
}
nav ul li a {
  color: rgb(196, 214, 169);
  text-decoration: none;
  font-family: 'Kanit';
}

nav ul li a:hover {
  color: rgb(255, 255, 255);
  font-size: large;
  transition: 0.3s;
}
/* Hamburger Menu */
.menu-toogle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}
.menu-toogle input {
  position: absolute;
  width: 40px;
  height: 20px;
  left: -5px;
  top: -3px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.menu-toogle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: rgb(196, 214, 169);
  border-radius: 3px;
  transition: all 0.5s;
}

/* Hamburger menu animation */
.menu-toogle span:nth-child(2) {
  transform-origin: 0 0 ;
}
.menu-toogle span:nth-child(4) {
  transform-origin: 0 100% ;
}
.menu-toogle input:checked ~ span:nth-child(2) {
  background-color: white;
  transform: rotate(45deg) translate(-1px, -1px);
}
.menu-toogle input:checked ~ span:nth-child(4) {
  background-color: white;
  transform: rotate(-45deg) translate(-1px, 0);
}
.menu-toogle input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: scale(0);
}
/* Responsive break point */
@media( max-width: 768px ) {
  nav ul {
    width: 50%;
  }
}
@media ( max-width: 576px ) {
  nav ul {
    position: absolute;
    flex-direction: column;
    right: 0;
    width: 80%;
    top: 0;
    height: 100vh;
    background-color: rgb(67, 111, 2);
    align-items: center;
    justify-content: space-evenly;
    z-index: -1;
    transform: translateX(100%);
    transition: 1s;
    opacity: 0;
  }
  nav ul.slide {
    transform: translateX(0);
    opacity: 1;
  }
  .menu-toogle {
    display: flex;
  }
}